*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 3vh;
}

#logo img, #perfil-details img {
    margin-left: 1vw;
}

form input{
    height: 2rem;
    width: 25vw;
}

main {
    display: flex;
    flex-direction: row;
}

nav{
    margin: 0 2.5vw;
}

nav ul a li{
    list-style: none;
    margin-bottom: 1.5rem;
}

nav ul a li img{
    margin-right: 0.825rem;
}

nav ul a{
    text-decoration: none;
    color: black;
}

nav ul{
    margin: 0;
    padding-left: 2.5%;
}

#view-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(231, 227, 227, 0.4);
    padding: 5vh;
}

.videos{
    width: min-content;
    margin: 0 2.5vw;
}

.video-details{
    display: flex;
}

.video-details img{
    width: 40px;
    height: 40px;
    align-self: center;
}

.details h1, p{
    font-size: 0.825rem;
    margin: 5px 5px;
}