*{
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 10px 3vh;
}

#logo img, button , #perfil-details img {
    margin-left: 1vw;
}

form input{
    height: 2rem;
    width: 25vw;
}

main {
    display: flex;
}

nav ul li {
    list-style: none;
}